#container-um{
	background-color: rgb(146,148,218);
	width: 80%;
	height: 90%;
	margin: 0px auto 0px auto;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: "Bradley Hand ITC";
}
#container-dois{
	background-color: rgb(146,148,219);
	width: 95%;
	height: 15%;
	margin: 0px auto 0px auto;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: "Bradley Hand ITC";
}

body {
	background-color: black;
	font-family: "Bradley Hand ITC";
}

h1 {
	color: black;
	font-family: "Bradley Hand ITC";
	font-size: 40px;
	text-align: center;
}
input::-webkit-input-placeholder{
	color: black;
	font-family: "Bradley Hand ITC";
	font-size: 13px;
}
h2 {
	font-family: "Bradley Hand ITC";
	font-size: 20px;
}

input#txt_nome{
	width: 100%;
	font-size: 32px;
}
input#txt_codigo{
	width: 100%;
	font-size: 32px;
}
input#txt_email{
	width: 100%;
	font-size: 32px;
}
input#centrodeinsteresse-um{
	width: 100%;
	font-size: 50px;
}
input#centrodeinsteresse-dois{
	width: 100%;
	font-size: 50px;
}